<!-- 
<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
 -->


  <div class="card" >
    <div class="card-img-top">
    	<div class="map"></div>
     <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
<!--      	 <agm-data-layer  [geoJson]="geoJsonObject" (layerClick)="clicked($event)" [style]="styleFunc" >
          
     </agm-data-layer> -->
       <agm-marker 
      *ngFor="let g of geocode; let i = index"
      (markerClick)="clickedMarker(g.label, i)"
      [latitude]="g.lat"
      [longitude]="g.lon">
      
    <agm-info-window>
      <strong>Tweet : {{g.data_text}}</strong>
      <strong>Tanggal : {{g.atribut_tanggal}}</strong>
      <strong>Waktu : {{g.atribut_waktu}}</strong>
      <strong>Kejadian : {{g.atribut_event}}</strong>
      <strong>Tempat : {{g.atribut_tempat}}</strong>
      <strong>Fasilitas : {{g.atribut_fasilitas}}</strong>
      <strong>Penyebab : {{g.atribut_penyebab}}</strong>
    </agm-info-window>
    
  </agm-marker>
  </agm-map>
    </div>
  </div>
