<div *ngIf="year == 2017" class="animated fadeIn">
  <div class="row">
  <div class="card" style="width: 100%">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" class="btn btn-block btn-primary" (click)="to2017($event)" >2017</button>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" (click)="to2018($event)" class="btn btn-block btn-primary">2018</button>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" (click)="to2019($event)" class="btn btn-block btn-primary">2019</button>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" (click)="to2020($event)" class="btn btn-block btn-primary">2020</button>
        </div>
      </div>
    </div>
  </div>

<div class="col-lg-6">
  <div class="card">
    <div class="card-header">
      {{rekapList[0].jenis_rekap}}
      <div class="card-header-actions">
      </div>
    </div>
    <div class="card-body">
      <div class="chart-wrapper" >
        <canvas baseChart class="chart"
        [datasets]="[{data: rekapList[0].datas, label: 'Data'}]"
        [labels]="['Bencana', 'Special Event', 'Kebijakan', 'Kelalaian', 'Lain-lain']"
        [chartType]="radarChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>

      <div class="col-sm-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        {{rekapList[1].jenis_rekap}}
        <div class="card-header-actions">
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper" style="width:300px :height:300px;">
          <canvas baseChart class="chart"
          [data]="rekapList[1].datas"
          [labels]="['lembang','cihampelas','rancaekek','cikalong','pasteur']"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </div>
  </div><!--/.row-->
  <!-- <div class="row"> -->
  <div class="col-lg-13">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">{{rekapList[2].jenis_rekap}}</h4>
        </div><!--/.col-->
   <!--      <div class="col-sm-7 d-none d-md-block">
          <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Day" id="option1">Day</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Month" id="option2">Month</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Year" id="option3">Year</label>
          </div>
        </div> -->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:200px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="[{data: rekapList[2].datas,label: 'Data Enrichment'}]"
        [labels]="['Jan', 'Feb', 'Mar', 'Apr', 'May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']"
        [options]="mainChartOptions"
        [colors]="mainChartColours"
        [legend]="mainChartLegend"
        [chartType]="mainChartType"></canvas>
      </div>
    </div>
  </div>
    </div>

 <!--  </div>/.row -->
  <!--/.card-->
  
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          {{rekapList[3].jenis_rekap}}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
             
                <div class="col-sm-6">
                  <div class="callout callout-danger">
                    <small class="text-muted">Jumlah Kejadian</small>
                    <br>
                    <strong class="h4">{{rekapList[3].datas[0]+rekapList[3].datas[1]+rekapList[3].datas[2]+rekapList[3].datas[3]+rekapList[3].datas[4]+rekapList[3].datas[5]}} </strong>
                  </div>
                </div><!--/.col-->

              <hr class="mt-0">
 
              <div class="chart-wrapper">
                <canvas baseChart class="chart"
                  [datasets]="[{data: rekapList[3].datas,label: 'Data Waktu'}]"
                  [labels]="['< 06:00','06:00-08:59','09:00-11:59','12:00-14:59','15:00-17:59','> 18:00']"
                  [options]="{scaleShowVerticalLines: false,responsive: true}"
                  [chartType]="'bar'"
                  [legend]="false"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas></div>

            </div><!--/.col-->
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-warning">
                    <small class="text-muted">Akun yang Posting</small>
                    <br>
                    <strong class="h4">78,623</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-success">
                    <small class="text-muted">Jumlah Posting Lokasi</small>
                    <br>
                    <strong class="h4">49,123</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">

            </div><!--/.col-->
          </div><!--/.row-->
          <br>
          <table class="table table-responsive-sm table-hover table-outline mb-0" style="overflow-y:scroll;height:500px;display:block;">
            <thead class="thead-light">
              <tr>
                <th>Tweet</th>
                <th class="text-center">Attribute from tweet</th>
                <th>Post at</th>
              </tr>
            </thead>
            <tbody  *ngFor="let enrich of enrichmentsList; let i = index">
              <tr *ngIf="enrich.atribut_tanggal < '2018-01-01' && enrich.atribut_tanggal > '2016-12-31'" >
                <td>{{enrich.data_text}}</td>
                <td>
                 <span class="badge badge-pill badge-primary" *ngIf="enrich.atribut_event != 'NULL'">
                 {{enrich.atribut_event}}</span>
                 <span class="badge badge-pill badge-secondary" *ngIf="enrich.atribut_fasilitas != 'NULL'">
                 {{enrich.atribut_fasilitas}}</span>
                 <span class="badge badge-pill badge-success" *ngIf="enrich.atribut_tempat != 'NULL'">
                 {{enrich.atribut_tempat}}</span>
                 <span class="badge badge-pill badge-danger" *ngIf="enrich.atribut_penyebab != 'NULL'">
                 {{enrich.atribut_penyebab}}</span>
                </td>
                <td>{{enrich.atribut_tanggal}} {{enrich.atribut_waktu}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>


<div *ngIf="year == 2018" class="animated fadeIn">
  <div class="row">
  <div class="card" style="width: 100%">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" class="btn btn-block btn-primary" (click)="to2017($event)" >2017</button>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" (click)="to2018($event)" class="btn btn-block btn-primary">2018</button>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" (click)="to2019($event)" class="btn btn-block btn-primary">2019</button>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" (click)="to2020($event)" class="btn btn-block btn-primary">2020</button>
        </div>
      </div>
    </div>
  </div>

<div class="col-lg-6">
  <div class="card">
    <div class="card-header">
      {{rekapList[4].jenis_rekap}}
      <div class="card-header-actions">
      </div>
    </div>
    <div class="card-body">
      <div class="chart-wrapper" >
        <canvas baseChart class="chart"
        [datasets]="[{data: rekapList[4].datas, label: 'Data'}]"
        [labels]="['Bencana', 'Special Event', 'Kebijakan', 'Kelalaian', 'Lain-lain']"
        [chartType]="radarChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>

      <div class="col-sm-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        {{rekapList[5].jenis_rekap}}
        <div class="card-header-actions">
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper" style="width:300px :height:300px;">
          <canvas baseChart class="chart"
          [data]="rekapList[5].datas"
          [labels]="['dago','lembang','cisarua','rancaekek','cikampek']"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </div>
  </div><!--/.row-->
  <!-- <div class="row"> -->
  <div class="col-lg-13">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">{{rekapList[6].jenis_rekap}}</h4>
        </div><!--/.col-->
   <!--      <div class="col-sm-7 d-none d-md-block">
          <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Day" id="option1">Day</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Month" id="option2">Month</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Year" id="option3">Year</label>
          </div>
        </div> -->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:200px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="[{data: rekapList[6].datas,label: 'Data Enrichment'}]"
        [labels]="['Jan', 'Feb', 'Mar', 'Apr', 'May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']"
        [options]="mainChartOptions"
        [colors]="mainChartColours"
        [legend]="mainChartLegend"
        [chartType]="mainChartType"></canvas>
      </div>
    </div>
  </div>
    </div>

 <!--  </div>/.row -->
  <!--/.card-->
  
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          {{rekapList[7].jenis_rekap}}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
             
                <div class="col-sm-6">
                  <div class="callout callout-danger">
                    <small class="text-muted">Jumlah Kejadian</small>
                    <br>
                    <strong class="h4">{{rekapList[7].datas[0]+rekapList[7].datas[1]+rekapList[7].datas[2]+rekapList[7].datas[3]+rekapList[7].datas[4]+rekapList[7].datas[5]}} </strong>
                  </div>
                </div><!--/.col-->

              <hr class="mt-0">
 
              <div class="chart-wrapper">
                <canvas baseChart class="chart"
                  [datasets]="[{data: rekapList[7].datas,label: 'Data Waktu'}]"
                  [labels]="['< 06:00','06:00-08:59','09:00-11:59','12:00-14:59','15:00-17:59','> 18:00']"
                  [options]="{scaleShowVerticalLines: false,responsive: true}"
                  [chartType]="'bar'"
                  [legend]="false"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas></div>

            </div><!--/.col-->
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-warning">
                    <small class="text-muted">Akun yang Posting</small>
                    <br>
                    <strong class="h4">78,623</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-success">
                    <small class="text-muted">Jumlah Posting Lokasi</small>
                    <br>
                    <strong class="h4">49,123</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">

            </div><!--/.col-->
          </div><!--/.row-->
          <br>
          <table class="table table-responsive-sm table-hover table-outline mb-0" style="overflow-y:scroll;height:500px;display:block;">
            <thead class="thead-light">
              <tr>
                <th>Tweet</th>
                <th class="text-center">Attribute from tweet</th>
                <th>Post at</th>
              </tr>
            </thead>
            <tbody  *ngFor="let enrich of enrichmentsList; let i = index">
              <tr *ngIf="enrich.atribut_tanggal < '2019-01-01' && enrich.atribut_tanggal > '2017-12-31'" >
                <td>{{enrich.data_text}}</td>
                <td>
                 <span class="badge badge-pill badge-primary" *ngIf="enrich.atribut_event != 'NULL'">
                 {{enrich.atribut_event}}</span>
                 <span class="badge badge-pill badge-secondary" *ngIf="enrich.atribut_fasilitas != 'NULL'">
                 {{enrich.atribut_fasilitas}}</span>
                 <span class="badge badge-pill badge-success" *ngIf="enrich.atribut_tempat != 'NULL'">
                 {{enrich.atribut_tempat}}</span>
                 <span class="badge badge-pill badge-danger" *ngIf="enrich.atribut_penyebab != 'NULL'">
                 {{enrich.atribut_penyebab}}</span>
                </td>
                <td>{{enrich.atribut_tanggal}} {{enrich.atribut_waktu}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>


<div *ngIf="year == 2019" class="animated fadeIn">
  <div class="row">
  <div class="card" style="width: 100%">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" class="btn btn-block btn-primary" (click)="to2017($event)" >2017</button>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" (click)="to2018($event)" class="btn btn-block btn-primary">2018</button>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" (click)="to2019($event)" class="btn btn-block btn-primary">2019</button>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" (click)="to2020($event)" class="btn btn-block btn-primary">2020</button>
        </div>
      </div>
    </div>
  </div>

<div class="col-lg-6">
  <div class="card">
    <div class="card-header">
      {{rekapList[8].jenis_rekap}}
      <div class="card-header-actions">
      </div>
    </div>
    <div class="card-body">
      <div class="chart-wrapper" >
        <canvas baseChart class="chart"
        [datasets]="[{data: rekapList[8].datas, label: 'Data'}]"
        [labels]="['Bencana', 'Special Event', 'Kebijakan', 'Kelalaian', 'Lain-lain']"
        [chartType]="radarChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>

      <div class="col-sm-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        {{rekapList[9].jenis_rekap}}
        <div class="card-header-actions">
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper" style="width:300px :height:300px;">
          <canvas baseChart class="chart"
          [data]="rekapList[9].datas"
          [labels]="['pasteur','sukajadi','lembang','cibiru','cileunyi']"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </div>
  </div><!--/.row-->
  <!-- <div class="row"> -->
  <div class="col-lg-13">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">{{rekapList[10].jenis_rekap}}</h4>
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:200px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="[{data: rekapList[10].datas,label: 'Data Enrichment'}]"
        [labels]="['Jan', 'Feb', 'Mar', 'Apr', 'May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']"
        [options]="mainChartOptions"
        [colors]="mainChartColours"
        [legend]="mainChartLegend"
        [chartType]="mainChartType"></canvas>
      </div>
    </div>
  </div>
    </div>

 <!--  </div>/.row -->
  <!--/.card-->
  
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          {{rekapList[11].jenis_rekap}}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
             
                <div class="col-sm-6">
                  <div class="callout callout-danger">
                    <small class="text-muted">Jumlah Kejadian</small>
                    <br>
                    <strong class="h4">{{rekapList[11].datas[0]+rekapList[11].datas[1]+rekapList[11].datas[2]+rekapList[11].datas[3]+rekapList[11].datas[4]+rekapList[11].datas[5]}} </strong>
                  </div>
                </div><!--/.col-->

              <hr class="mt-0">
 
              <div class="chart-wrapper">
                <canvas baseChart class="chart"
                  [datasets]="[{data: rekapList[11].datas,label: 'Data Waktu'}]"
                  [labels]="['< 06:00','06:00-08:59','09:00-11:59','12:00-14:59','15:00-17:59','> 18:00']"
                  [options]="{scaleShowVerticalLines: false,responsive: true}"
                  [chartType]="'bar'"
                  [legend]="false"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas></div>

            </div><!--/.col-->
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-warning">
                    <small class="text-muted">Akun yang Posting</small>
                    <br>
                    <strong class="h4">78,623</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-success">
                    <small class="text-muted">Jumlah Posting Lokasi</small>
                    <br>
                    <strong class="h4">49,123</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">

            </div><!--/.col-->
          </div><!--/.row-->
          <br>
          <table class="table table-responsive-sm table-hover table-outline mb-0" style="overflow-y:scroll;height:500px;display:block;">
            <thead class="thead-light">
              <tr>
                <th>Tweet</th>
                <th class="text-center">Attribute from tweet</th>
                <th>Post at</th>
              </tr>
            </thead>
            <tbody  *ngFor="let enrich of enrichmentsList; let i = index">
              <tr *ngIf="enrich.atribut_tanggal < '2020-01-01' && enrich.atribut_tanggal > '2018-12-31'" >
                <td>{{enrich.data_text}}</td>
                <td>
                 <span class="badge badge-pill badge-primary" *ngIf="enrich.atribut_event != 'NULL'">
                 {{enrich.atribut_event}}</span>
                 <span class="badge badge-pill badge-secondary" *ngIf="enrich.atribut_fasilitas != 'NULL'">
                 {{enrich.atribut_fasilitas}}</span>
                 <span class="badge badge-pill badge-success" *ngIf="enrich.atribut_tempat != 'NULL'">
                 {{enrich.atribut_tempat}}</span>
                 <span class="badge badge-pill badge-danger" *ngIf="enrich.atribut_penyebab != 'NULL'">
                 {{enrich.atribut_penyebab}}</span>
                </td>
                <td>{{enrich.atribut_tanggal}} {{enrich.atribut_waktu}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>


<div *ngIf="year == 2020" class="animated fadeIn">
  <div class="row">
  <div class="card" style="width: 100%">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" class="btn btn-block btn-primary" (click)="to2017($event)" >2017</button>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" (click)="to2018($event)" class="btn btn-block btn-primary">2018</button>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" (click)="to2019($event)" class="btn btn-block btn-primary">2019</button>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" (click)="to2020($event)" class="btn btn-block btn-primary">2020</button>
        </div>
      </div>
    </div>
  </div>

<div class="col-lg-6">
  <div class="card">
    <div class="card-header">
      {{rekapList[12].jenis_rekap}}
      <div class="card-header-actions">
      </div>
    </div>
    <div class="card-body">
      <div class="chart-wrapper" >
        <canvas baseChart class="chart"
        [datasets]="[{data: rekapList[12].datas, label: 'Data'}]"
        [labels]="['Bencana', 'Special Event', 'Kebijakan', 'Kelalaian', 'Lain-lain']"
        [chartType]="radarChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>

      <div class="col-sm-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        {{rekapList[13].jenis_rekap}}
        <div class="card-header-actions">
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper" style="width:300px :height:300px;">
          <canvas baseChart class="chart"
          [data]="rekapList[13].datas"
          [labels]="['rancaekek', 'cileunyi', 'pasteur','kircon','cibiru']"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </div>
  </div><!--/.row-->
  <!-- <div class="row"> -->
  <div class="col-lg-13">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">{{rekapList[14].jenis_rekap}}</h4>
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:200px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="[{data: rekapList[14].datas,label: 'Data Enrichment'}]"
        [labels]="['Jan', 'Feb', 'Mar', 'Apr', 'May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']"
        [options]="mainChartOptions"
        [colors]="mainChartColours"
        [legend]="mainChartLegend"
        [chartType]="mainChartType"></canvas>
      </div>
    </div>
  </div>
    </div>

 <!--  </div>/.row -->
  <!--/.card-->
  
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          {{rekapList[15].jenis_rekap}}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
             
                <div class="col-sm-6">
                  <div class="callout callout-danger">
                    <small class="text-muted">Jumlah Kejadian</small>
                    <br>
                    <strong class="h4">{{rekapList[15].datas[0]+rekapList[15].datas[1]+rekapList[15].datas[2]+rekapList[15].datas[3]+rekapList[15].datas[4]+rekapList[15].datas[5]}} </strong>
                  </div>
                </div><!--/.col-->

              <hr class="mt-0">
 
              <div class="chart-wrapper">
                <canvas baseChart class="chart"
                  [datasets]="[{data: rekapList[15].datas,label: 'Data Waktu'}]"
                  [labels]="['< 06:00','06:00-08:59','09:00-11:59','12:00-14:59','15:00-17:59','> 18:00']"
                  [options]="{scaleShowVerticalLines: false,responsive: true}"
                  [chartType]="'bar'"
                  [legend]="false"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas></div>

            </div><!--/.col-->
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-warning">
                    <small class="text-muted">Akun yang Posting</small>
                    <br>
                    <strong class="h4">78,623</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-success">
                    <small class="text-muted">Jumlah Posting Lokasi</small>
                    <br>
                    <strong class="h4">49,123</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">

            </div><!--/.col-->
          </div><!--/.row-->
          <br>
          <table class="table table-responsive-sm table-hover table-outline mb-0" style="overflow-y:scroll;height:500px;display:block;">
            <thead class="thead-light">
              <tr>
                <th>Tweet</th>
                <th class="text-center">Attribute from tweet</th>
                <th>Post at</th>
              </tr>
            </thead>
            <tbody  *ngFor="let enrich of enrichmentsList; let i = index">
              <tr *ngIf="enrich.atribut_tanggal < '2021-01-01' && enrich.atribut_tanggal > '2019-12-31'" >
                <td>{{enrich.data_text}}</td>
                <td>
                 <span class="badge badge-pill badge-primary" *ngIf="enrich.atribut_event != 'NULL'">
                 {{enrich.atribut_event}}</span>
                 <span class="badge badge-pill badge-secondary" *ngIf="enrich.atribut_fasilitas != 'NULL'">
                 {{enrich.atribut_fasilitas}}</span>
                 <span class="badge badge-pill badge-success" *ngIf="enrich.atribut_tempat != 'NULL'">
                 {{enrich.atribut_tempat}}</span>
                 <span class="badge badge-pill badge-danger" *ngIf="enrich.atribut_penyebab != 'NULL'">
                 {{enrich.atribut_penyebab}}</span>
                </td>
                <td>{{enrich.atribut_tanggal}} {{enrich.atribut_waktu}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>